@import url("https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Balsamiq+Sans:ital@1&family=Lobster&family=MuseoModerno&family=Oswald&family=Pacifico&family=Sriracha&display=swap");

html {
  scroll-behavior: smooth;
}
.myheader {
  text-align: center;
}
.myheader h1 {
  font-family: "Acme", sans-serif;
}
.myheader p {
  font-family: "Sriracha", cursive;
}

.profilepic {
  border-radius: 50%;
}
#about {
  text-align: center;
}
#about h1 {
  font-family: "Lobster", cursive;
}
#about p {
  font-family: "Balsamiq Sans", cursive;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Skills*/

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #eee;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*Upto Here*/
.card {
  image-resolution: 273px, 183px;
  height: 28em;
}
#projects h1 {
  margin-top: 0.75cm;
  margin-bottom: 0.75cm;
  text-align: center;
  font-family: "Sriracha", cursive;
}
.carousel-inner h5 {
  color: black;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}
.carousel-inner p {
  color: black;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
.carousel-inner img {
  opacity: 0.2;
}
#contact {
  background-color: #eee;
  display: block;
  text-align: center;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
  font-family: "MuseoModerno", cursive;
}
#contact h1 {
  font-family: "MuseoModerno", cursive;
}
.Skills {
  padding-top: 1cm;
  padding-bottom: 1cm;
  background-color: #eee;
  /*align-items: center;
  justify-content: center;
  align-content: center;*/
  display: flex;
  flex-direction: column;
  /* width: 25%;*/
  text-align: center;
  align-items: center;
  /* margin-left: initial;*/
}
.Skills h1 {
  padding-bottom: 0.5cm;
  font-family: "Pacifico", cursive;
}
.Skills img {
  height: 100px;
  /*display: flex;
  flex-direction: column;
  float: left;*/
  /*padding-left: 0.3cm;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  /*-webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

.Skills img:hover {
  /*filter: none;
  -webkit-filter: grayscale(0);*/
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other 
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
*/
.copyright {
  height: 2 cm;
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
}